<button type="submit" class="btn btn-{{type}}"
        [disabled]="(state !== buttonState.NORMAL) || (state === buttonState.NORMAL && disabled)"
        [ngClass]="{
        'error-resolve': withError,
        'error-state': state === buttonState.ERROR
        }"
        (click)="onClick()"
        [ngClass]="{'static_width': state !== buttonState.NORMAL}">
    <span *ngIf="state === buttonState.LOADING || state === buttonState.NORMAL">
          <snippet-component
            *ngIf="state === buttonState.LOADING"
            color="#fff"
            height="21px"
          ></snippet-component>
      <span>
        <ng-content></ng-content>
      </span>
    </span>
  <span *ngIf="state === buttonState.FINISH" [innerHTML]="textSuccess"></span>
  <span *ngIf="state === buttonState.ERROR" [innerHTML]="textError"></span>
</button>
