<h1>{{title}}</h1>

<div class="headTitle">
  <ul class="col-sm-6 no-padding">
    <pagination-controls
      (pageChange)="pageChanged($event)"
      previousLabel=""
      nextLabel=""
    >
    </pagination-controls>
  </ul>
  <div class="col-sm-6 action-header no-padding">
    <form class="search">
      <input class="searchTerm" type="text" placeholder="Поиск...">
      <input type="button" class="searchButton">
    </form>
    <button class="btn btn-sm btn-primary" (click)="add(item)">
      <i class="fa fa-plus"></i> Добавить
    </button>
  </div>

  <span *ngIf="totalDeals">
    Общее количество: <b>{{totalDeals}}</b>
</span>

</div>

<div class="clearfix"></div>
<div class="block no-padding">

  <div class="prod_list" dictionaryList="dictionaryList">
    <div class="header">
      <div class="tags">
        Теги
      </div>
      <div class="values">
        Значения
      </div>
      <div class="action">

      </div>
    </div>

    <div class="tbody">
      <div
        class="item"
        *ngFor="let item of dictionaryList | paginate: { currentPage: currentPage, totalItems: totalItems, itemsPerPage: maxSize }"
        [ngClass]="{'is_edit': item.getIsEdit()}"
      >

        <div class="cell" (click)="edit(item)">
          <div *ngIf="!item.getIsEdit()">
            <span *ngFor="let tag of item._tags" class="tag">
              {{tag}}
            </span>
          </div>

          <div *ngIf="item.getIsEdit()">
            <tag-input
              [(ngModel)]='item._tags'
              [editable]='true'
              [addOnBlur]='true'
              [modelAsStrings]='true'
              secondaryPlaceholder="Введите искомые значения"
              placeholder="+ ТЕГ"
            ></tag-input>
          </div>
        </div>

        <div class="cell" (click)="edit(item)">
          <div *ngIf="!item.getIsEdit()">
            {{ item.getMessage() }}
          </div>
          <div *ngIf="item.getIsEdit()">
            <input type="text" class="form-control" [(ngModel)]='item._message'>
          </div>
        </div>

        <div class="cell action" *ngIf="item.getIsEdit()">
          <i class="fa fa-floppy-o" (click)="save(item)" title="Сохранить"></i>
          <i class="fa fa-times" (click)="remove(item)" title="Удалить"></i>
          <i class="fa fa-sign-out" (click)="cancel(item)" title="Отменить"></i>
        </div>
      </div>
    </div>

    <div class="loading" *ngIf="loadingList">
      <snippet-component
        color="#4c84b0"
        height="21px"
      ></snippet-component>
    </div>

    <div *ngIf="dictionaryList.length==0 && !loadingList">
      В таблице еще нет записей :(
    </div>

  </div>
</div>

<simple-notifications
  [options]="options"
>
</simple-notifications>
