.prod_list {
  padding: 20px;
  display: table;
  width: 100%;
  .header {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
    .tags {
      width: 40%;
      display: table-cell;
      padding: 5px;
    }
    .values {
      width: 40%;
      display: table-cell;
    }
    .action {
      width: 10%;
      display: table-cell;
    }
  }
  .tbody {
    display: table-row-group;
    .item {
      display: table-row;
      //display: flex;
      .cell {
        display: table-cell;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        &.action {
          font-size: 24px;
          color: #428bca;
        }
      }
      &:hover {
        background: #f4f4f4;
        cursor: pointer;
      }
      &.is_edit {
        background: #ddd;
      }
    }
    .tag {
      background: #fff8cc;
      margin-right: 10px;
      padding: 5px;
    }
  }

  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 85%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: #c3c3c3;
  }
}

.headTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  ul {
    margin: 0;
  }
  .action-header {
    display: flex;
    form{
      margin-right: 5px;
    }
  }
}

$iconColor: #fff;
$color: #8FC357;
.search {
  width: 100%;
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-family: 'FontAwesome';
    content: '\f002';
    background: $color;
    text-align: center;
    color: $iconColor;
    border-radius: 5px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;
  }
}

.searchTerm {
  width: 100%;
  border: 5px solid $color;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

.block{
  margin-top: 5px;
}
