header {
  height: 42px;
  background-color: #4c84b0;
  border-bottom: 1px solid #3d6ba0;
  min-width: 980px;
  padding: 10px 0;
  .container {
    .logo{
      a{
        color: #fff;
      }
    }
  }
}
